@font-face {
    font-family: 'Righteous';
    src: url(FUENTES/Righteous/Righteous-Regular.ttf);
}

@font-face {
    font-family: 'Inconsolata';
    src: url(FUENTES/Inconsolata-VariableFont_wdth\,wght.ttf)
}
#Righteous{
    font-family: "Righteous";
    font-size: 40px;
}
body {
    background-color: black;
}
header {
    background-color: red;
    margin: 2%;
}
a {
    color: black;
    font-size: 28px;
    font-family: "Inconsolata";
}
.presentacion{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
p{
    font-size: 20px;
    color: rgb(74, 67, 67);
}
.contenedor{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: aliceblue;
}
h2{
    font-family: "Inconsolata";
    color: aliceblue;
}
h1{
    color:black;
}

h5{
    color:#d4b186;
}
p{
    color:#d4b186;
}
footer{
    background-color: red;
}


